<footer class="footer justify-around bg-neutral-600 p-10 text-white">
  <aside>
    <img src="/img/emc_logo.png" alt="Logo" />
  </aside>
  <nav>
    <h6 class="footer-title">Produktet</h6>
    <a class="link-hover link">Linde</a>
    <a class="link-hover link">Hoppecke</a>
    <a class="link-hover link">Hansaflex</a>
  </nav>
  <nav>
    <a class="link-hover link">Sherbimet</a>
    <a class="link-hover link">Rreth Nesh</a>
    <a class="link-hover link">Shop</a>
    <a class="link-hover link">Karriera</a>
  </nav>
  <div class="flex flex-col justify-between">
    <div class="flex flex-col gap-2">
      <h6 class="footer-title">Vendndodhja</h6>
      <p>Rr.Epidamn,Durres,Albania</p>
      <p>Rr.Epidamn,Prishtine,Kosovo</p>
    </div>
    <div class="flex flex-col gap-2">
      <h6 class="footer-title">Kontakt</h6>
      <a href="tel:+355123456789">Tel: +355123456789</a>
      <a href="email:example@example.com">Email:example@example.com</a>
    </div>
  </div>
  <!-- <img src="/img/location.png" alt="location" class="w-1/6 aspect-square"/> -->
</footer>
<footer class="footer border-t-2 border-t-white bg-neutral-600 p-4">
  <p class="font mx-auto text-center text-lg font-bold text-white">
    @ 2024 EMC. All Rights Reserved
  </p>
</footer>
