---
import InstaLogo from "../../svg/instagram.svg?raw";
import LocationSvg from "../../svg/location.svg?raw";
import EmailSvg from "../../svg/email.svg?raw";

const logos = [InstaLogo, LocationSvg, EmailSvg];

interface Props {
  header?: string;
  img?: string;
  compactNav?: boolean;
}
const { header, img, compactNav } = Astro.props;
---

{
  compactNav ? (
    <div id="main-nav" class="fixed z-[100] flex w-full bg-neutral px-4">
      <div class="mx-auto flex w-[66vw] items-stretch border-b-2 border-b-neutral-400 [&>*]:py-4">
        <a href="/">
          <img src="/img/emc_logo.png" alt="Logo" class="basis-[14%]" />
        </a>
        <nav class="flex flex-1 items-center justify-around">
          <a href="#" class="text-gray-800 hover:text-gray-600">
            PRODUKTET
          </a>
          <a href="#" class="text-gray-800 hover:text-gray-600">
            SHËRBIMET
          </a>
          <a href="/product-finder" class="text-gray-800 hover:text-gray-600">
            SHOP
          </a>
          <a href="#" class="text-gray-800 hover:text-gray-600">
            RRETH NESH
          </a>
          <a href="/karriera" class="text-gray-800 hover:text-gray-600">
            KARRIERA
          </a>
          <a href="/contact" class="text-gray-800 hover:text-gray-600">
            KONTAKT
          </a>
        </nav>
      </div>
      <div class="flex items-center gap-2">
        {logos.map((logo) => (
          <div class="flex h-6 w-6 items-center justify-center">
            <Fragment set:html={logo} />
          </div>
        ))}
      </div>
    </div>
  ) : (
    <div
      id="nav-container"
      class="max-w-screen aspect-[4/1] bg-cover bg-fixed bg-top"
      style={`background-image: url(${img});`}
    >
      <div
        id="nav-bg"
        class="relative flex h-full w-full flex-col items-center justify-between bg-neutral-200"
      >
        <div id="main-nav" class="fixed z-[100] flex w-full bg-neutral px-4">
          <div class="mx-auto flex w-[66vw] items-stretch border-b-2 border-b-neutral-400 [&>*]:py-4">
            <a href="/">
              <img src="/img/emc_logo.png" alt="Logo" class="basis-[14%]" />
            </a>
            <nav class="flex flex-1 items-center justify-around">
              <a href="#" class="text-gray-800 hover:text-gray-600">
                PRODUKTET
              </a>
              <a href="#" class="text-gray-800 hover:text-gray-600">
                SHËRBIMET
              </a>
              <a
                href="/product-finder"
                class="text-gray-800 hover:text-gray-600"
              >
                SHOP
              </a>
              <a href="#" class="text-gray-800 hover:text-gray-600">
                RRETH NESH
              </a>
              <a href="/karriera" class="text-gray-800 hover:text-gray-600">
                KARRIERA
              </a>
              <a href="/contact" class="text-gray-800 hover:text-gray-600">
                KONTAKT
              </a>
            </nav>
          </div>
          <div class="flex items-center gap-2">
            {logos.map((logo) => (
              <div class="flex h-6 w-6 items-center justify-center">
                <Fragment set:html={logo} />
              </div>
            ))}
          </div>
        </div>
        <div id="header-bg" class="my-auto bg-logoBg">
          <h1
            class="px-6 py-4 text-5xl font-bold uppercase text-white"
            id="header"
          >
            {header}
          </h1>
        </div>
        <div />
      </div>
    </div>
  )
}
