---
import ArrowButton from "../ArrowButton";
---

<div class="flex h-full flex-col gap-4 bg-neutral px-4 pb-12 pt-8">
  <img src="/foto/design/linde_news.jpeg" alt="Linde News" />
  <div class="flex flex-col gap-6 px-8">
    <p class="ml-6 font-thin">24 Mars 2024</p>
    <h3 class="text-center text-lg font-bold">
      Linde shpallet lideri numer 1 ne forklift
    </h3>
    <p class="text-justify">
      Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
      labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet.
      Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum
      Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident.
      Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex
      occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat
      officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in
      Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non
      excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco
      ut ea consectetur et est culpa et culpa duis. lorem
    </p>
    <div class="ml-6">
      <ArrowButton type="right" text="Lexo me shume" />
    </div>
  </div>
</div>
