---
interface Props {
  img: string;
  title: string;
  description: string;
}
const { img, title, description } = Astro.props;
---

<div class="group relative z-50 aspect-[3/4] rounded-2xl bg-white transition">
  <img src={img} class="h-full" />
  <div
    class="absolute bottom-0 flex h-1/3 w-full translate-y-1/2 flex-col items-center gap-4 rounded-2xl bg-black/75 p-4 opacity-0 transition group-hover:translate-y-0 group-hover:opacity-100"
  >
    <h3 class="text-lg font-semibold text-white">{title}</h3>
    <p class="line-clamp-3 font-light text-white">{description}</p>
  </div>
</div>
