---
import Layout from "../layouts/Layout.astro";
---

<Layout img="/img/about-bg.png" title="Rreth Nesh" header="Rreth Nesh">
  <div class="my-20 flex flex-col items-center gap-12">
    <img
      src="/img/about_1.png"
      alt="About 1"
      class="h-[35vh] w-3/4 bg-top object-cover"
    />
    <div class="flex h-[35vh] w-3/4 gap-4">
      <img src="/img/about_3.jpeg" alt="About 2" class="flex-1 object-cover" />
      <img src="/img/about_2.png" alt="About 3" class="flex-1 object-cover" />
    </div>
    <h1 class="text-4xl">Kush jemi ne?</h1>
    <p class="w-3/4 text-justify">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
      sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
      diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
      erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
      rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
      dolor sit amet.
    </p>
    <img src="/img/about_map.png" alt="About Map" class="w-svw" />
    <div class="flex h-1/6 w-2/3 gap-12">
      <img src="/img/foto_2.jpeg" alt="About 4" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ab iste
        debitis nisi cumque aperiam sequi, adipisci officia aut porro nemo,
        explicabo similique exercitationem quam corrupti, quasi dolor saepe
        reprehenderit.
      </p>
    </div>
    <div class="stre flex h-1/6 w-2/3 gap-12">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ab iste
        debitis nisi cumque aperiam sequi, adipisci officia aut porro nemo,
        explicabo similique exercitationem quam corrupti, quasi dolor saepe
        reprehenderit.
      </p>

      <img src="/img/service.jpeg" alt="About 5" />
    </div>
    <div class="flex gap-12"></div>
  </div>
</Layout>
