---
import Layout from "../layouts/Layout.astro";
import ServicesSection from "../components/homepage/ServicesSection.astro";
import ShopSection from "../components/homepage/ShopSection.astro";
import NewsSection from "../components/homepage/NewsSection.astro";
import FAQSection from "../components/homepage/FAQSection.astro";
---

<Layout title="Welcome to Astro." img="/img/linde_new_2.jpeg">
  <main class="my-20 flex flex-col items-center gap-20">
    <ServicesSection />
    <ShopSection />
    <NewsSection />
    <FAQSection />
  </main>
</Layout>
