---
import Layout from "../layouts/Layout.astro";
import JobCard from "../components/JobCard.astro";
---

<Layout>
  <div class="flex flex-col gap-6 w-2/3 mx-auto my-12">
    <JobCard title="Inxhinier i pajisjeve te baterive"/>
  </div>
</Layout>
