---
import Layout from "../layouts/Layout.astro";
import ProductCategory from "../components/ProductCategory.astro";
import ProductCard from "../components/ProductCard.astro";
import FilterCategory from "../components/FilterCategory.astro";
import Fork from "../svg/fork.svg?raw";
import Calendar from "../svg/calendar.svg?raw";
import {ProductFilters} from "../constants"
---

<Layout title="Product finder">
  <div class="flex flex-col items-center p-20 gap-10">
    <div class="flex gap-10">
      <ProductCategory title="New" count={10} icon={Fork} active />
      <ProductCategory title="Rental" count={50} icon={Calendar} />
    </div>
    <div class="flex bg-neutral w-full min-h-screen p-20">
      <div class="basis-1/4 flex flex-col">
        <input type="text" placeholder="Model Search" class="py-4 px-2"/>
        {ProductFilters.map((pf)=>(<FilterCategory title={pf} icon=""/>))} 
      </div>
      <div class="basis-3/4 p-10">
        <div class="grid grid-cols-2 gap-4 h-full">
          {
            () => {
              const prods = [];
              for (let i = 0; i < 19; i++) {
                prods.push(
                  <ProductCard
                    title="M10 X/XE"
                    imgSrc="/product-placeholder.avif"
                    category="Pallet Trucks"
                    weight="0 - 1000 (kg)"
                    height="0 - 715 (mm)"
                  />,
                );
              }
              return prods;
            }
          }
        </div>
      </div>
    </div>
  </div>
</Layout>
