---
import Layout from "../layouts/Layout.astro";
import HiddenDescriptionCard from "../components/HiddenDescriptionCard.astro";
---

<Layout img="/foto/design/about-bg.png" title="Sherbimet" header="Sherbimet">
  <div class="mx-auto my-12 grid h-full w-2/3 grid-cols-2 gap-8">
    <HiddenDescriptionCard
      img="/foto/design/about_1.png"
      title="Service 1"
      description="Euismod risus arcu nibh lorem quis consectetur suscipit scelerisque pulvinar."
    />
    <HiddenDescriptionCard
      img="/foto/design/about_2.png"
      title="Service 2"
      description="Euismod risus arcu nibh lorem quis consectetur suscipit scelerisque pulvinar."
    />
    <HiddenDescriptionCard
      img="/foto/design/about_3.jpeg"
      title="Service 2"
      description="Euismod risus arcu nibh lorem quis consectetur suscipit scelerisque pulvinar."
    />
    <HiddenDescriptionCard
      img="/foto/design/service.jpeg"
      title="Service 2"
      description="Euismod risus arcu nibh lorem quis consectetur suscipit scelerisque pulvinar."
    />
  </div>
</Layout>
