---
import MainNav from "./layout-parts/MainNav.astro";
import NavContainer from "./layout-parts/NavContainer.astro";
import HomeNav from "./layout-parts/HomeNav.astro";
import Footer from "./layout-parts/Footer.astro";
interface Props {
  title: string;
  header?: string;
  img?: string;
  compactNav?: boolean;
}
const path = Astro.url.pathname;
const isHome = path === "/";
const { title, header, img, compactNav } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="emc">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      ::-moz-selection {
        color: white;
        background: #aa0020;
      }

      ::selection {
        color: white;
        background: #aa0020;
      }
    </style>
  </head>
  {
    isHome ? (
      <HomeNav img="/img/home-bg.png">
        <MainNav />
      </HomeNav>
    ) : compactNav ? (
      <MainNav />
    ) : (
      <NavContainer header={header} img={img}>
        <MainNav />
      </NavContainer>
    )
  }
  <body class="max-w-screen flex min-h-screen flex-col">
    <div class="flex-1">
      <slot />
    </div>
    <Footer />
  </body>
</html>
